@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />
<h3>@ViewBag.Message</h3>
<br />
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, optio est? Accusantium
    voluptas molestias natus nobis velit soluta provident mollitia vero? Nulla alias cum nobis tempora laboriosam quas qui molestias minus
    explicabo quos suscipit quibusdam, facere eos! Iure sequi officiis ipsa aut blanditiis et beatae neque nulla repellat numquam excepturi
    quos aperiam unde, corrupti obcaecati debitis assumenda. Est vero, distinctio id delectus pariatur voluptate ab repudiandae eum nisi
    deserunt animi, dolores aspernatur sunt vitae odit iure. Laudantium dolorum blanditiis eius at veniam illo unde minima aperiam similique
    expedita natus facere cum id quos laboriosam facilis provident excepturi minus amet alias recusandae nostrum harum, debitis ullam!
    Voluptas architecto ipsum vel illo officiis, velit eos perspiciatis repellendus quod consequatur ipsa voluptates atque dolorum consectetur.
    Animi, culpa illum consectetur aut amet consequuntur minus. Doloremque saepe neque nesciunt alias quisquam nam enim quas voluptatum eveniet
    atque? Delectus nulla sed quibusdam perspiciatis sint minima, ut, temporibus at quaerat maxime quam architecto atque ipsa molestiae ipsum
    enim quia harum sequi consequuntur. Fugit eos maxime odio sint nostrum, consequatur qui distinctio, illo eveniet dolor incidunt libero
    reiciendis optio! Deserunt similique a provident veniam, ex ipsam, veritatis dolores voluptatibus nam sequi, repudiandae voluptates error.
    Maiores perspiciatis earum voluptate iure eligendi aut vero qui eum dicta. Ad ducimus dolorem expedita aperiam alias sapiente voluptatibus
    ratione commodi, debitis, dicta reiciendis quisquam labore repellat incidunt qui temporibus earum laboriosam illo eius deleniti ullam eum
    consequuntur quibusdam! Reiciendis eum modi quaerat quas unde asperiores? Tempore quas error assumenda sunt atque doloribus consequuntur
    laudantium porro dolorem pariatur nulla quasi autem similique quos in tempora illum natus dolorum laboriosam harum distinctio nisi, quo
    sed exercitationem! Dolorum rerum quia sunt tempore autem odit aperiam maxime reiciendis eligendi assumenda, quisquam qui nemo asperiores
    incidunt fugiat? Earum dicta et voluptatem quidem saepe, tempore voluptate in rerum tenetur. Voluptas explicabo doloremque in laborum quos
    veniam dolorum, quidem obcaecati repudiandae quasi animi nemo nisi ullam maxime nihil necessitatibus, fuga provident unde incidunt. Ratione,
    deleniti minus ex magnam laborum eos fuga optio ipsam dolorem, magni placeat mollitia, incidunt laboriosam delectus ullam numquam accusantium
    laudantium architecto at inventore odit? Possimus nisi ea vel, incidunt ratione architecto, blanditiis expedita molestiae similique quos
    repellendus suscipit excepturi laboriosam maxime repellat pariatur provident itaque. Distinctio eum veniam porro rem. Soluta aspernatur
    dolores repudiandae praesentium, consequuntur aperiam blanditiis deleniti minus magnam ut natus libero inventore sunt sit quidem facere
    unde amet maxime fugit dolore alias et cum officiis. Nemo ea architecto error fuga provident repellat cumque, ut deserunt earum molestiae
    quam soluta porro, aliquid nobis iure saepe nam blanditiis dicta natus sint atque placeat dolore odit! Ducimus in nobis esse cum, nulla
    totam beatae porro et tempora non assumenda expedita optio laborum sit odio eum perspiciatis! Magni odio quos velit delectus veniam a facilis
    ad suscipit sint optio. Eligendi esse amet incidunt ipsam et dolore est nisi similique quae ex laboriosam soluta, tempora blanditiis nobis
    dicta nulla qui laborum sit. Mollitia facere velit iste numquam. Dignissimos, temporibus. Consequatur, debitis? Id soluta minus vitae nemo
    cum excepturi?
</p>
<br />

@Scripts.Render("~/Scripts/IndexScript.js")